@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';

@font-face {
     font-family: "burbank";
     src: url("fonts/BurbankBigCondensed-Black.otf");
}
 @font-face {
     font-family: "baloo";
     src: url("fonts/Baloo-Regular.ttf");
}
@font-face {
     font-family: 'Varela', sans-serif;
     src: url('https://fonts.googleapis.com/css2?family=Carela&display=swap');
}




 h1 {
     text-align:center;
     -webkit-text-stroke-width: 0.1px;
     -webkit-text-stroke-color: white;
     font-family:"baloo";
}
 h2 {
     font-family:"baloo";
}

#losMoney {
position: absolute;
top: 10000px;
}

html {
     cursor: crosshair;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#result {
     font-family:baloo;
     color:rgb(0, 0, 0);
     outline-width: 5px;
}

 #countButton {
     font-family:burbank;
     border-radius: 50px;
     border:0;
     cursor: crosshair;
}
 #countButton:hover {
     transform:scale(1.05);
     cursor: crosshair;
}

#buy {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     width: 168px;
     height: 50px;
     font-size: 30px;
     position: absolute;
     left: 1500px;
     top: 200px;
     font-family: 'Baloo Tamma', cursive;
     border:0;
     cursor: crosshair;
}
#buy:hover, #buy:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: 'Baloo Tamma', cursive;
     cursor: crosshair;
}

#buy:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: 'Baloo Tamma', cursive;
     cursor: crosshair;
}


#divcursor {
     font-family:baloo;
     position: absolute;
     left: 1020px;
     top: 200px;
     font-size: 20px;
     font-family: Varela;
     cursor: crosshair;
}

#bananacursor {
     font-family:baloo;
     position: absolute;
     left: 1020px;
     top: 280px;
     font-size: 20px;
     font-family: Varela;
     cursor: crosshair;
}

#buyBanana {
     background: #e6373a;
     opacity: 1;
     border-radius: 3px;
     box-shadow: 0 3px 0px 0px #a31417;
     transition: all .2s ease;
     width: 180px;
     height: 50px;
     font-size: 30px;
     position: absolute;
     left: 1500px;
     top: 280px;
     font-family: 'Baloo Tamma', cursive;
     border:0;
     cursor: crosshair;
}
#buyBanana:hover, #buyBanana:focus {
     transform: translateY(-2px);
     box-shadow: 0 5px 0px 0px #a31417;
     font-family: 'Baloo Tamma', cursive;
     cursor: crosshair;
}

#buyBanana:active {
     background: #a31417;
     box-shadow: 0 0 0 0 #48090a;
     transform: translateY(3px);
     font-family: 'Baloo Tamma', cursive;
     cursor: crosshair;
}

.order {
     background-color: rgb(245, 135, 144);
     width:max-content;
     word-spacing: 10%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size:20px;
     cursor: crosshair;
}

#result {
     font-size:30px;
     cursor: crosshair;
}
